{{ lifemark.id }} <button type="button" class="btn btn-default">Del</button>
<button type="button" class="btn btn-default">Edit</button>
<button type="button" class="btn btn-default">Map</button>
<button type="button" class="btn btn-default">Recent Map</button>
<button type="button" class="btn btn-default">Copy</button>
<p>Title: <span id="row_{{ lifemark.id }}_title">{{ lifemark.title }}</span></p>
<p>Link: <span id="row_{{ lifemark.id }}_link">{{ lifemark.link }}</span></p>
<p>cdate: <span id="row_{{ lifemark.id }}_cdate">{{ lifemark.cdate }}</span></p>
<p>udate: <span id="row_{{ lifemark.id }}_udate">{{ lifemark.udate }}</span></p>
<p>category: <span id="row_{{ lifemark.id }}_category">{{ lifemark.category }}</span></p>
<p>state: <span id="row_{{ lifemark.id }}_state">{{ lifemark.state }}</span></p>
<p>due: <span id="row_{{ lifemark.id }}_due_datehour">{{ lifemark.due_datehour }}</span></p>
<p>tags: <span id="row_{{ lifemark.id }}_tags">{{ lifemark.tags }}</span></p>
{% if lifemark.desc %}
    <pre id="row_{{ lifemark.id }}_desc">{{ lifemark.desc }}</pre>
{% endif %}
