{% load lifemark_filters %}

<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_title">Title</label>
    <div class="col-sm-10">{{ form.title }}</div>
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_link">Link</label>
    <div class="col-sm-10">{{ form.link }}</div>
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_category_txt">Category</label>
    <div class="col-sm-10 flex-grow-1">
        <div class="row">
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id_category_txt" placeholder="Enter or select category">
            </div>
            <div class="col-sm-4">
                <select id="id_category_sel" class="form-control">
                    {% for c in existing_categories %}
                        <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {{ form.category }}
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_state">State</label>
    <div class="col-sm-10 flex-grow-1">{{ form.state }}</div>
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_due_date">Due Date</label>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-8">
                {% if is_update_form %}
                    <input type="text" class="form-control" id="id_update_due_date" placeholder="Choose Date">
                {% else %}
                    <input type="text" class="form-control" id="id_due_date" placeholder="Choose Date">
                {% endif %}
            </div>
            <div class="col-sm-4">
                <select id="id_due_hour" class="form-control">
                    {% for hour in 24|times %}
                        <option value="{{ hour }}">{{ hour }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {{ form.due_datehour }}
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_rating">Rating</label>
    <div class="col-sm-10 flex-grow-1">{{ form.rating }}</div>
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_tags">Tags</label>
    <div class="col-sm-10 flex-grow-1">{{ form.tags }}</div>
</div>
<div class="form-group form-row">
    <div class="col-sm-12">{{ form.desc }}</div>
</div>
<div class="form-group form-row">
    <label class="col-sm-2 col-form-label" for="id_img_url">Iamge Url</label>
    <div class="col-sm-10 flex-grow-1">{{ form.image_url }}</div>
</div>
