{% load lifemark_filters imgur_filters %}

{{ lifemark.id }} <button type="button" id="id_detail_btn_del_{{ lifemark.id }}" class="btn btn-default" onclick="del({{ lifemark.id }})">Del</button>
<button type="button" id="id_detail_btn_edit_{{ lifemark.id }}" class="btn btn-default" onclick="edit(event, {{ lifemark.id }})">Edit</button>
<button type="button" id="id_detail_btn_map_{{ lifemark.id }}" class="btn btn-default" onclick="location.href='{% url 'show_map' %}?lat={{ lifemark.c_geo_lat }}&lon={{ lifemark.c_geo_lon }}'">Map</button>
<button type="button" id="id_detail_btn_recent_map_{{ lifemark.id }}" class="btn btn-default" onclick="location.href='{% url 'show_map' %}?lat={{ lifemark.u_geo_lat }}&lon={{ lifemark.u_geo_lon }}'">Recent Map</button>
<button type="button" id="id_detail_btn_copy_{{ lifemark.id }}" class="btn btn-default" onclick="copy_lifemark({{ lifemark.id }})">Copy</button>
<p>Title: 
    <span style="display: none" id="row_{{ lifemark.id }}_title">{{ lifemark.title }}</span>
    <span style="display: none" id="row_{{ lifemark.id }}_link">{{ lifemark.link }}</span>
    <a href="{{ lifemark.link }}">{{ lifemark.title }}</a>
</p>
<p>cdate: <span id="row_{{ lifemark.id }}_cdate">{{ lifemark.cdate }}</span></p>
<p>udate: <span id="row_{{ lifemark.id }}_udate">{{ lifemark.udate }}</span></p>
<p>category: <span id="row_{{ lifemark.id }}_category">{{ lifemark.category }}</span></p>
{% lifemark_field lifemark.id 'state' lifemark.state 'State' %}
{% lifemark_field lifemark.id 'due_datehour' lifemark.due_datehour 'Due' %}
{% lifemark_field lifemark.id 'rating' lifemark.rating 'Rating' %}
{% lifemark_field lifemark.id 'tags' lifemark.tags 'Tags' %}
{% if lifemark.desc %}
    <pre id="row_{{ lifemark.id }}_desc">{{ lifemark.desc }}</pre>
{% endif %}
{% if lifemark.image_url %}
    <a href="{{ lifemark.image_url }}" target="_blank"><img src="{{ lifemark.image_url|to_imgur_thumbnail }}"></a>
    <span style="display: none" id="row_{{ lifemark.id }}_image_url">{{ lifemark.image_url }}</span>
{% endif %}
