{% extends 'base.html' %}

{% load static lifemark_filters %}

{% block javascript %}
    <script src="{% static 'js/desc_editor.js' %}"></script>
    <script>
        function get_detail_val(id, field_name) {
            return $('#row_'+id+'_'+field_name).text()
        }
        function set_form_data($form, id, field_name, val) {
            if (val)
                $form.find('#id_'+field_name).val(val)
            else
                $form.find('#id_'+field_name).val(get_detail_val(id, field_name))
        }
        function lpad(str, pad, len) {
            padstr = ''
            while (padstr.length < len)
                padstr += pad
            constr = padstr + str
            return constr.substring(constr.length - len)
        }
        function submit_new_lifemark() {
            var $form = $('#id_new_form')

            fill_form_hiddens($form)

            return true
        }
        function submit_update_lifemark() {
            var $form = $('#id_update_form')

            fill_form_hiddens($form)

            return true
        }
        function submit_category_search(category) {
            var $form = $('#id_search_form')
            $form.find('#id_hdn_search_category').val(category)

            return true
        }
        function fill_form_hiddens($form) {
            var $category_hidden = $form.find('#id_category')
            var $category_txt = $form.find('#id_category_txt')
            var $category_sel = $form.find('#id_category_sel')
            if ($category_txt.val()) 
                $category_hidden.val($category_txt.val())
            else
                $category_hidden.val($category_sel.val())

            var $due_date = $form.find('#id_due_date')
            var $due_hour = $form.find('#id_due_hour')
            if ($due_date.val()) {
                var $due_datehour = $form.find('#id_due_datehour')
                var datehour = $due_date.val() + lpad($due_hour.val(), '0', 2)
                $due_datehour.val(datehour)
            }
        }
        function fill_form_w_detail($form, id) {
            set_form_data($form, id, 'title')
            set_form_data($form, id, 'link')
            set_form_data($form, id, 'state')

            category = get_detail_val(id, 'category')
            $form.find('#id_category_sel').val(category)

            due_datehour = get_detail_val(id, 'due_datehour')
            due_date = due_datehour.substring(0, 8)
            due_hour = due_datehour.substring(8) * 1 + ''
            set_form_data($form, id, 'due_date', due_date)
            set_form_data($form, id, 'due_hour', due_hour)

            set_form_data($form, id, 'rating')
            set_form_data($form, id, 'tags')
            set_form_data($form, id, 'desc')
            set_form_data($form, id, 'image_url')
        }
        function edit(e, id) {
            e.stopPropagation()

            show_form('update')
            
            var $update_form = $('#id_update_form')
            fill_form_w_detail($update_form, id)

            $update_form.attr('action', 'update/' + id + '/')

            $('html, body').scrollTop(0)
        }
        function del(id) {
            if (!confirm('Want to delete?'))
                return

            var $form = $('#id_del_form')
            $form.attr('action', 'delete/' + id + '/')
            $form[0].submit()
        }
        function copy_lifemark(id) {
            fill_form_w_detail($('#id_new_form'), id)

            $('html, body').scrollTop(0)
        }
        function get_active_form() {
            if ($('#id_new_form').is(':visible'))
                return $('#id_new_form')
            else
                return $('#id_update_form')
        }
        function toggle_desc_editor() {
            editor_module.set_editor(get_active_form().find('#id_desc'))
        }
        function toggle_due_date_picker() {
            // todo: this doesn't work
            //   - datepicker need one and only id in a page
            //   - how about dynamically create due_date input?
            //     - or moving input
            get_active_form().find('#id_due_date').datepicker({dateFormat: 'yy-mm-dd'})
        }
        function show_form(form_type) {
            var $new_form = $('#id_new_form')
            var $update_form = $('#id_update_form')

            if (form_type == 'new') {
                $new_form.show()
                $update_form.hide()
            } else {
                $new_form.hide()
                $update_form.show()
            }

            toggle_desc_editor()
            toggle_due_date_picker()
        }
        function goto_detail(key, line) {
            var $row = $('#row_'+key)
            if (! line) {
                $row.get(0).scrollIntoView()
            } else {
                var desc_pre = $row.find('pre')
                
                var pre_top = desc_pre.offset().top
                var pre_height = desc_pre.height()
                var total_line = desc_pre.html().split(/\n/).length

                var line_height = pre_height / total_line
                var target_pixcel = pre_top + line * line_height

                window.scrollTo(0, target_pixcel)
            }
        }
    </script>
{% endblock javascript %}

{% block form %}
    <form class="form-horizontal" id="id_new_form" method="POST" onsubmit="return submit_new_lifemark()" action="{% url 'new' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" id="id_btn_new" class="btn btn-default">Add Lifemark</button>
            </div>
        </div>
        {% include 'includes/lifemark_form.html' %}
    </form>
    <form class="form-horizontal" id="id_update_form" method="POST" onsubmit="return submit_update_lifemark()" action="">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" id="id_btn_update" class="btn btn-default">Update Lifemark</button>
                <button type="button" class="btn btn-default" onclick="show_form('new')">Cancel</button>
            </div>
        </div>
        {% include 'includes/lifemark_form.html' %}
    </form>
{% endblock form %}

{% block content %}
    <form id="id_search_form" method="GET" action="{% url 'search' %}">
        <div class="row bg-primary" style="margin-top: 3rem">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-default" id="id_btn_search">Search</button>
                <button type="submit" class="btn btn-default" id="id_btn_search_todo" onclick="return submit_category_search('todo')">Search Todo</button>
                <button type="submit" class="btn btn-default" id="id_btn_search_ref" onclick="return submit_category_search('ref')">Search Ref</button>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="id_txt_search" name="q">
                <input type="hidden" id="id_hdn_search_category" name="c" />
            </div>
        </div>
    </form>

    <form id="id_del_form" method="POST" action="">
        {% csrf_token %}

        <table id="id_recent_list" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th colspan="2">Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--
                {% for lifemark in lifemarks %}
                    <tr class="{{ lifemark|td_class }}" onclick="goto_detail({{ lifemark.id }})">
                        <td>{{ lifemark.id }}</td>
                        <td>{{ lifemark.title }}</td>
                        <td>{{ lifemark.link }}</td>
                        <td>
                            <button id="id_list_btn_edit_{{ lifemark.id }}" type="button" class="btn btn-default" onclick="edit(event, {{ lifemark.id }})">Edit</button>
                            <button id="id_list_btn_del_{{ lifemark.id }}" type="button" class="btn btn-default" onclick="del({{ lifemark.id }})">Del</button>
                        </td>
                    </tr>
                {% endfor %}
                -->

                {% for key, line_data in lifemark_line_data.items %}
                    <tr onclick="goto_detail({{ key }})" class="{{ line_data.lifemark|td_class }}">
                        <td>{{ key }}</td>
                        <td>{{ line_data.lifemark.category }}</td>
                        <td colspan="2">
                            {{ line_data.lifemark.title }}
                        </td>
                        <td>
                            <button id="id_list_btn_edit_{{ key }}" type="button" class="btn btn-default" onclick="edit(event, {{ key }})">Edit</button>
                            <button id="id_list_btn_del_{{ key }}" type="button" class="btn btn-default" onclick="del({{ key }})">Del</button>
                        </td>
                    </tr>
                    {% for line_search_data in line_data.lines %}
                        <tr onclick="goto_detail({{ key }}, {{ line_search_data.line_no }})">
                            <td></td>
                            <td>{{ line_search_data.field }}</td>
                            <td>{{ line_search_data.line_no }}</td>
                            <td>{{ line_search_data.match_line }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' %}

        <table id="id_detail_list" class="table">
            <tbody>
                {% for lifemark in lifemarks %}
                    <tr id="row_{{ lifemark.id }}" class="{{ lifemark|td_class }}">
                        <td>
                            {% include 'includes/lifemark_detail.html' %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
{% endblock content %}

{% block init_javascript %}
    <script>
        $('#id_update_form').hide()

        $(function() {
            var $new_form = $('#id_new_form')            
            $new_form.find('#id_due_date').datepicker({dateFormat: 'yy-mm-dd'})

            var $update_form = $('#id_update_form')            
            $update_form.find('#id_due_date').datepicker({dateFormat: 'yy-mm-dd'})
        })

        toggle_desc_editor()
    </script>
{% endblock init_javascript %}
