{% extends 'base.html' %}

{% load static nbsp_filter %}

{% block javascript %}
    <script src="{% static 'js/desc_editor.js' %}"></script>
    <script>
        function fill_category_hidden(value) {
            var $category_hidden = $('#id_category')
            $category_hidden.val(value)
        }
        function fill_due_datehour_hidden(date_str) {
            var $due_datehour_hidden = $('#id_due_datehour')
            $due_datehour_hidden.val(date_str)
        }
        function toggle_form() {
            var $new_form = $('#id_new_form')
            var $update_form = $('#id_update_form')
            $new_form.hide()
            $update_form.show()
        }
        function get_detail_val(id, field_name) {
            return $('#row_'+id+'_'+field_name).text()
        }
        function set_form_data($form, id, field_name, val) {
            if (val)
                $form.find('#id_'+field_name).val(val)
            else
                $form.find('#id_'+field_name).val(get_detail_val(id, field_name))
        }
        function lpad(str, pad, len) {
            padstr = ''
            while (padstr.length < len)
                padstr += pad
            constr = padstr + str
            return constr.substring(constr.length - len)
        }
        function submit_new_lifemark() {
            var $form = $('#id_new_form')

            // fill hiddens
            var $category_hidden = $form.find('#id_category')
            var $category_txt = $form.find('#id_category_txt')
            var $category_sel = $form.find('#id_category_sel')
            if ($('#id_category_txt').val()) 
                $category_hidden.val($category_txt.val())
            else
                $category_hidden.val($category_sel.val())

            var $due_date = $form.find('#id_due_date')
            var $due_hour = $form.find('#id_due_hour')
            if ($due_date.val()) {
                var $due_datehour = $form.find('#id_due_datehour')
                var datehour = $due_date.val() + $due_hour.val()
                $due_datehour.val(datehour)
            }

            return true
        }
        function edit(id) {
            console.log('edit(' + id + ')')
            toggle_form()
            
            var $update_form = $('#id_update_form')

            set_form_data($update_form, id, 'title')
            set_form_data($update_form, id, 'link')
            set_form_data($update_form, id, 'state')
            set_form_data($update_form, id, 'desc')

            category = get_detail_val(id, 'category')
            $update_form.find('#id_category_sel').val(category)

            due_datehour = get_detail_val(id, 'due_datehour')
            due_date = due_datehour.substring(0, 8)
            due_hour = due_datehour.substring(8) * 1 + ''
            set_form_data($update_form, id, 'due_date', due_date)
            set_form_data($update_form, id, 'due_hour', due_hour)

            $update_form.attr('action', 'update/' + id + '/')
        }
        function del(id) {
            console.log('delete(' + id + ')')
            var $form = $('#id_del_form')
            $form.attr('action', 'delete/' + id + '/')
            $form[0].submit()
        }
    </script>
{% endblock javascript %}

{% block form %}
    <form class="form-horizontal" id="id_new_form" method="POST" onsubmit="return submit_new_lifemark()" action="{% url 'new' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" id="id_btn_new" class="btn btn-default">Add Lifemark</button>
            </div>
        </div>
        {% include 'includes/lifemark_form.html' %}
    </form>
    <form class="form-horizontal" id="id_update_form" method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" id="id_btn_update" class="btn btn-default">Update Lifemark</button>
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
        {% include 'includes/lifemark_form.html' %}
    </form>
{% endblock form %}

{% block content %}
    <form id="id_del_form" method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-default" id="id_btn_search">Search</button>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>

        <table id="list_recent" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
                {% for lifemark in lifemarks %}
                    <tr>
                        <td>{{ lifemark.id }}</td>
                        <td>{{ lifemark.title }}</td>
                        <td>{{ lifemark.link }}</td>
                        <td>
                            <button id="id_list_btn_edit_{{ lifemark.id }}" type="button" onclick="edit({{ lifemark.id }})">Edit</button>
                            <button id="id_list_btn_del_{{ lifemark.id }}" type="button" onclick="del({{ lifemark.id }})">Del</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table id="id_detail_list" class="table">
            <tbody>
                {% for lifemark in lifemarks %}
                    <tr id="row_{{ lifemark.id }}">
                        <td>
                            {% include 'includes/lifemark_detail.html' %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
{% endblock content %}

{% block init_javascript %}
    <script>
        $('#id_update_form').hide()
    </script>
{% endblock init_javascript %}
